* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

a {
  background-color: #eee;
  display: block;
  padding: 1rem;
  text-decoration: none;
  border-radius: 4px;
  color: #000;
  border: 2px solid #aaa;
  margin-bottom: 1rem;
}
